<% include partials/header-gallery %>

<div class="container page">

<div id="nav">
 <p>Gallery</p>
  <p id="sp">
    <a href="/">-SP-</a>
  </p>
  <li class="dropdown">
    <p class="dropbtn">Menu</p>
    <div class="dropdown-content">
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  </li>
</div>

<div id="img-grid">
  <% var index = 4 %>
  <% var init = 1 %>
  <% for (var i = 1; i < 4; i++) { %>
    <% for (var j = init; j < index; j++) { %>
    <div class="col-md-4 col-sm-6 images-div">
      <img class="row<%= i %>-img img" src="photos/cropped/0<%= j %>.jpg">
    </div>
    <% } %>
    <% init += 3 %>
    <% index += 3 %>
  <% } %>
</div>

</div>

<% include partials/footer %>
