<% include partials/header-gallery %>

<div class="container page">

<div id="nav">
 <p>Gallery</p>
  <p id="sp">
    <a href="/"><img class="logo" src="photos/logo.png"></a>
  </p>
  <li class="dropdown">
    <p class="dropbtn">Menu</p>
    <div class="dropdown-content">
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  </li>
</div>

<div id="img-grid">
  <% var index = 4 %>
  <% var init = 1 %>
  <% var caption = [
        "Richmond, VA",
        "Antelope Canyon, AZ",
        "Zion National Park, UT",
        "Wytheville, VA",
        "Pfeiffer Beach, CA",
        "Kings Canyon National Park, CA",
        "Chesterfield, VA",
        "Blacksburg, VA",
        "Blue Ridge Parkway, VA"
        ] %>
  <% for (var i = 1; i < 4; i++) { %>
    <% for (var j = init; j < index; j++) { %>
    <div class="col-md-4 col-sm-6 images-div">
      <a href="photos/box/0<%= j %>.jpg" title="<%= caption[j-1] %>" class="group1">
        <img class="row<%= i %>-img img" src="photos/cropped/0<%= j %>.jpg">
      </a>
    </div>
    <% } %>
    <% init += 3 %>
    <% index += 3 %>
  <% } %>
</div>

<!-- ColorBox: This contains the hidden content for inline calls -->
<div id="cboxOverlay" style="opacity: 0; cursor: pointer; visibility: visible; display: none;"></div>
  <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none; visibility: visible; top: 150px; left: 428px; position: absolute; width: 728px; height: 505px; opacity: 0;">
    <div id="cboxWrapper" style="height: 505px; width: 728px;">
        <div>
            <div id="cboxTopLeft" style="float: left;"></div>
            <div id="cboxTopCenter" style="float: left; width: 700px;"></div>
            <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxMiddleLeft" style="float: left; height: 448px;"></div>
            <div id="cboxContent" style="float: left; width: 700px; height: 448px;">
                <div id="cboxTitle" style="float: left; display: block;">Me and my grandfather on the Ohoopee.</div>
                <div id="cboxCurrent" style="float: left; display: block;">image 1 of 3</div><button type="button" id="cboxPrevious" style="display: block;">previous</button><button type="button" id="cboxNext" style="display: block;">next</button><button type="button" id="cboxSlideshow" style="display: none;"></button>
                <div id="cboxLoadingOverlay" style="float: left; display: none;"></div>
                <div id="cboxLoadingGraphic" style="float: left; display: none;"></div><button type="button" id="cboxClose">close</button></div>
            <div id="cboxMiddleRight" style="float: left; height: 448px;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxBottomLeft" style="float: left;"></div>
            <div id="cboxBottomCenter" style="float: left; width: 700px;"></div>
            <div id="cboxBottomRight" style="float: left;"></div>
        </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; max-width: none; display: none;"></div>
  </div>

<% include partials/footer %>
