<% include partials/header-gallery %>

<div id="container">

  <p>Gallery</p>
  <p id="sp">
    <a href="/">-SP-</a>
  </p>
  <p>
    <a href="/contact">Contact</a>
  </p>

  <!-- First Row -->
  <img class="rowOne-img" src="photos/cropped/rN3.jpg">
  <img class="rowOne-img" src="photos/cropped/woman in the wind.jpg">
  <img class="rowOne-img" src="photos/cropped/zionn2.jpg">

  <!-- Second Row -->
  <img class="rowTwo-img" src="photos/cropped/wss7.jpg">
  <img class="rowTwo-img" src="photos/cropped/PFB1.jpg">
  <img class="rowTwo-img" src="photos/cropped/kings canyon2.jpg">

  <!-- Third Row -->
  <img class="rowThree-img" src="photos/cropped/chesterfield 5.jpg">
  <img class="rowThree-img" src="photos/cropped/sunday 1.jpg">
  <img class="rowThree-img" src="photos/cropped/13.jpg">
</div>

<% include partials/footer %>
