<!DOCTYPE html>
<html>
  <head>
    <title>Sarae's Photography</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Landing CSS -->
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700" rel="stylesheet">
    <!-- AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  </head>
  <body>

  <div id="landing-header" class="col-sm-8 col-sm-offset-2">
    <h1>Sarae's Photography</h1>
    <div id="below-header">
      <span class="noSelect">
        <a href="/gallery">Gallery &nbsp;&nbsp;&nbsp;</a>
      </span>
      <span>|</span>
      <span class="noSelect">
        <a href="/about">&nbsp;&nbsp;&nbsp; About &nbsp;&nbsp;&nbsp;</a>
      </span>
    </div>
  </div>

  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
  </ul>

<% include partials/footer %>
