body {
  background-color: #181818;
  font-family: 'Cinzel', serif;
}

h1 {
  text-align: center;
  color: white;
  margin: 50px 0 20px 0;
}

img {
  opacity: 1;
  transition: opacity 0.5s linear;
}

img:hover {
  opacity: 0.50;
}

a {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            white;
  opacity: 1;
  transition: opacity 0.5s linear;
}

a:hover{
  text-decoration:  none;
  font-weight:      bold;
  background-color: none;
  color:            white;
  opacity: 0.5;
}

p:nth-child(n+2):hover {
  opacity: 0.5;
}

p {
  opacity: 1;
  transition: opacity 1s linear;
  display: inline-block;
  color: #fff;
  width: 30%;
  float: left;
  margin: 1.66%;
  font-size: 2em;
  text-align: center;
  animation: fadein-header 2s;
}

/*p:nth-child(1) {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

p:nth-child(n+2) {
  padding-bottom: 5px;
  border-bottom: 2px solid #181818;
}*/

@keyframes fadein-header {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1
  }
}

#bio-text {
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
  font-size: 1.75em;
}

#nav {
  width: 100%;
  min-width: 400px;
}

.page {
  width: 98%;
}

.sarae {
  box-sizing: border-box;
  border: 15px solid rgba(255, 255, 255, 0.05);
}

.bio {
  margin-top: 50px;
  margin-bottom: 50px;
  animation: fadein-bio 4s;
}

hr.style-two {
  margin-top: 50px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

@keyframes fadein-bio {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1
  }
}
