body {
  background-color: #181818;
  font-family: 'Cinzel', serif;
}

a {
  text-decoration:  none;
  font-weight:      none;
  background-color: none;
  color:            white;
  opacity: 1;
  transition: opacity 0.5s linear;
}

a:hover{
  text-decoration:  none;
  font-weight:      bold;
  background-color: none;
  color:            white;
  opacity: 0.5;
}

img {
  opacity: 1;
  transition: opacity 0.5s linear;
  box-sizing: border-box;
  border: 15px solid rgba(255, 255, 255, 0.05);
}

img:hover {
  opacity: 0.50;
}

/*#container {
  margin: 0 1% 0 1%;
  min-width: 400px;
}*/

.page {
  width: 98%;
}

.img {
  margin: 15px 0 15px 0;
}

.row1-img {
  box-sizing: border-box;
  border: 15px solid #fff;
  width: 100%;
  float: left;
  animation: fadein-image 4s;
}

.row2-img {
  box-sizing: border-box;
  border: 15px solid #fff;
  width: 100%;
  float: left;
  animation: fadein-image 6s;
}

.row3-img {
  box-sizing: border-box;
  border: 15px solid #fff;
  width: 100%;
  float: left;
  animation: fadein-image 8s;
}

@keyframes fadein-image {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1
  }
}

p:nth-child(n+2):hover {
  opacity: 0.5;
}

p {
  opacity: 1;
  transition: opacity 1s linear;
  display: inline-block;
  color: #fff;
  width: 30%;
  float: left;
  margin: 1.66%;
  font-size: 2em;
  text-align: center;
  animation: fadein-header 2s;
}

p:nth-child(1) {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

p:nth-child(n+2) {
  padding-bottom: 5px;
  border-bottom: 2px solid #181818;
}

@keyframes fadein-header {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1
  }
}
