/*Navbar adjustments*/

body {
  padding-top: 130px;
}

.navbar {
  margin-top: -130px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-inverse {
  box-shadow: none !important;
  border: none !important;
}

.logo {
  width: 30%;
  margin-left: 3%;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 200px;
}

.navbar-left {
  width: 30%;
  margin-left: 0.66%;
}

.navbar-right {
  width: 30%;
  margin-right: 1.66%;
}

#bar-left {
  padding-top: 5%;
  width: 100%;
  font-size: 3em;
}

#bar-right {
  width: 100%;
  padding-top: 7%;
  font-size: 3em;
}

.navbar-inverse .navbar-nav>li>a {
  color: white !important;
}

.dropdown-toggle {
  text-align: center;
}

.navbar-nav .caret {
  display: none;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-menu > li > a {
  font-size: 2em;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: transparent !important;
}

.fader-left {
  animation: fader 3s;
}

.logo-fade {
  animation: fader 4s;
}

.fader-right {
  animation: fader 3s;
}

@keyframes fader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1
  }
}
