@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700");

body {
  font-family: "Cinzel", serif;
}

@keyframes fade-in-slow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in-slow {
  animation: fade-in-slow 3s ease-in-out;
}
