@import url("https://fonts.googleapis.com/css?family=Cinzel:500");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cinzel", serif;
  color: white;
}

@keyframes fade-in-slow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in-slow {
  animation: fade-in-slow 2s ease-in-out;
}
