<% include partials/header-about %>

<div class="container page">

<div id="nav">
 <p>About</p>
  <p id="sp">
    <a href="/"><img class="logo" src="photos/logo.png"></a>
  </p>
  <li class="dropdown">
    <p class="dropbtn">Menu</p>
    <div class="dropdown-content">
      <a href="/gallery">Gallery</a>
      <a href="/contact">Contact</a>
    </div>
  </li>
</div>

<div class="container bio">
  <h1>About Me</h1>
  <img class="sarae" src="photos/profile.jpg" style="width: 100%; height: 50%; margin: 0px auto;">
  <hr class="style-two">
  <p id="bio-text">Hello, <br><br> My name is Sarae, welcome to my photography website! Go Hokies!</p>
</div>

</div>

<% include partials/footer %>
